In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("수출 주요 국가 차량 판매량 순위_정리 완료.csv")

In [12]:
df

       연도          국가명                   모델명    판매량
0    2023       Africa          Toyota Hilux  37382
1    2023       Africa           Ford Ranger  24618
2    2023       Africa  Volkswagen Polo Vivo  23904
3    2023       Africa  Toyota Corolla Cross  22592
4    2023       Africa           Isuzu D-Max  18963
..    ...          ...                   ...    ...
155  2025  Middle East         Nissan Patrol  22400
156  2025  Middle East          Nissan Sunny  21900
157  2025  Middle East          Toyota Hilux  19915
158  2025  Middle East   Toyota Land Cruiser  12530
159  2025  Middle East         Tesla Model 3   6500

[160 rows x 4 columns]

In [13]:
df["모델명"].unique()

array(['Toyota Hilux', 'Ford Ranger', 'Volkswagen Polo Vivo',
       'Toyota Corolla Cross', 'Isuzu D-Max', 'Perodua Myvi',
       'Honda City', 'Honda HR-V', 'Ford F-Series', 'Ram Pickup',
       'Toyota RAV4', 'GMC Sierra', 'Chevrolet Silverado',
       'Tesla Model Y', 'BYD Qin Plus', 'BYD Song Plus', 'Nissan Sylphy',
       'Volkswagen Lavida', 'Dacia Sandero', 'Volkswagen T-Roc',
       'Renault Clio', 'Peugeot 208', 'Opel Corsa', 'Maruti Suzuki Swift',
       'Maruti Suzuki WagonR', 'Maruti Suzuki Baleno',
       'Maruti Suzuki Vitara (Grand Vitara)', 'Tata Nexon',
       'Chevrolet Onix', 'Fiat Strada', 'Volkswagen Polo', 'Hyundai HB20',
       'Nissan Versa', 'Nissan NP300', 'Chevrolet Aveo', 'Kia Rio',
       'MG 5', 'Toyota Yaris Sedan', 'Nissan Sunny', 'Hyundai Accent',
       'Nissan Patrol', 'Ram 1500', 'Toyota Vios', 'Ram 1500/Heavy Duty',
       'Honda CR-V', 'Volkswagen Golf', 'Tata Punch',
       'Maruti Suzuki Wagon R', 'Maruti Suzuki Ertiga',
       'Maruti Suzuki Brezza', 'Hyundai Creta', 'Kia K3',
       'Volkswagen Virtus', 'Toyota Land Cruiser', 'Tesla Model 3',
       'Chevrolet Silverado 1500', 'Suzuki Swift', 'Dacia Duster',
       'Toyota Yaris', 'Jeep Renegade', 'MG5', 'Toyota Corolla',
       'BYD Song PLUS DM', 'Changan CS75', 'Geely Xingyue L',
       'Geely Xingyuan', 'Chevrolet Equinox', 'Nissan Kicks'],
      dtype=object)

In [14]:
# 차량 정보 딕셔너리 생성 (전 차량 포함)
vehicle_info = {
    'Toyota Hilux': {'차량 구분': '픽업', '브랜드': 'Toyota', '파워트레인': '내연기관'},
    'Ford Ranger': {'차량 구분': '픽업', '브랜드': 'Ford', '파워트레인': '내연기관'},
    'Volkswagen Polo Vivo': {'차량 구분': '컴팩트', '브랜드': 'Volkswagen', '파워트레인': '내연기관'},
    'Toyota Corolla Cross': {'차량 구분': 'SUV', '브랜드': 'Toyota', '파워트레인': '하이브리드'},
    'Isuzu D-Max': {'차량 구분': '픽업', '브랜드': 'Isuzu', '파워트레인': '내연기관'},
    'Perodua Myvi': {'차량 구분': '해치백', '브랜드': 'Perodua', '파워트레인': '내연기관'},
    'Honda City': {'차량 구분': '세단', '브랜드': 'Honda', '파워트레인': '내연기관'},
    'Honda HR-V': {'차량 구분': 'SUV', '브랜드': 'Honda', '파워트레인': '하이브리드'},
    'Ford F-Series': {'차량 구분': '픽업', '브랜드': 'Ford', '파워트레인': '내연기관'},
    'Ram Pickup': {'차량 구분': '픽업', '브랜드': 'Ram', '파워트레인': '내연기관'},
    'Toyota RAV4': {'차량 구분': 'SUV', '브랜드': 'Toyota', '파워트레인': '하이브리드'},
    'GMC Sierra': {'차량 구분': '픽업', '브랜드': 'GMC', '파워트레인': '내연기관'},
    'Chevrolet Silverado': {'차량 구분': '픽업', '브랜드': 'Chevrolet', '파워트레인': '내연기관'},
    'Tesla Model Y': {'차량 구분': 'SUV', '브랜드': 'Tesla', '파워트레인': '전기차'},
    'BYD Qin Plus': {'차량 구분': '세단', '브랜드': 'BYD', '파워트레인': '하이브리드'},
    'BYD Song Plus': {'차량 구분': 'SUV', '브랜드': 'BYD', '파워트레인': '하이브리드'},
    'Nissan Sylphy': {'차량 구분': '세단', '브랜드': 'Nissan', '파워트레인': '내연기관'},
    'Volkswagen Lavida': {'차량 구분': '세단', '브랜드': 'Volkswagen', '파워트레인': '내연기관'},
    'Dacia Sandero': {'차량 구분': '해치백', '브랜드': 'Dacia', '파워트레인': '내연기관'},
    'Volkswagen T-Roc': {'차량 구분': 'SUV', '브랜드': 'Volkswagen', '파워트레인': '내연기관'},
    'Renault Clio': {'차량 구분': '해치백', '브랜드': 'Renault', '파워트레인': '내연기관'},
    'Peugeot 208': {'차량 구분': '해치백', '브랜드': 'Peugeot', '파워트레인': '내연기관'},
    'Opel Corsa': {'차량 구분': '해치백', '브랜드': 'Opel', '파워트레인': '내연기관'},
    'Maruti Suzuki Swift': {'차량 구분': '해치백', '브랜드': 'Maruti Suzuki', '파워트레인': '내연기관'},
    'Maruti Suzuki WagonR': {'차량 구분': '해치백', '브랜드': 'Maruti Suzuki', '파워트레인': '내연기관'},
    'Maruti Suzuki Baleno': {'차량 구분': '해치백', '브랜드': 'Maruti Suzuki', '파워트레인': '내연기관'},
    'Maruti Suzuki Vitara (Grand Vitara)': {'차량 구분': 'SUV', '브랜드': 'Maruti Suzuki', '파워트레인': '하이브리드'},
    'Tata Nexon': {'차량 구분': 'SUV', '브랜드': 'Tata', '파워트레인': '하이브리드'},
    'Chevrolet Onix': {'차량 구분': '세단', '브랜드': 'Chevrolet', '파워트레인': '내연기관'},
    'Fiat Strada': {'차량 구분': '픽업', '브랜드': 'Fiat', '파워트레인': '내연기관'},
    'Volkswagen Polo': {'차량 구분': '해치백', '브랜드': 'Volkswagen', '파워트레인': '내연기관'},
    'Hyundai HB20': {'차량 구분': '해치백', '브랜드': 'Hyundai', '파워트레인': '내연기관'},
    'Nissan Versa': {'차량 구분': '세단', '브랜드': 'Nissan', '파워트레인': '내연기관'},
    'Nissan NP300': {'차량 구분': '픽업', '브랜드': 'Nissan', '파워트레인': '내연기관'},
    'Chevrolet Aveo': {'차량 구분': '세단', '브랜드': 'Chevrolet', '파워트레인': '내연기관'},
    'Kia Rio': {'차량 구분': '컴팩트', '브랜드': 'Kia', '파워트레인': '내연기관'},
    'MG 5': {'차량 구분': '세단', '브랜드': 'MG', '파워트레인': '하이브리드'},
    'Toyota Yaris Sedan': {'차량 구분': '세단', '브랜드': 'Toyota', '파워트레인': '내연기관'},
    'Nissan Sunny': {'차량 구분': '세단', '브랜드': 'Nissan', '파워트레인': '내연기관'},
    'Hyundai Accent': {'차량 구분': '세단', '브랜드': 'Hyundai', '파워트레인': '내연기관'},
    'Nissan Patrol': {'차량 구분': 'SUV', '브랜드': 'Nissan', '파워트레인': '내연기관'},
    'Ram 1500': {'차량 구분': '픽업', '브랜드': 'Ram', '파워트레인': '내연기관'},
    'Toyota Vios': {'차량 구분': '세단', '브랜드': 'Toyota', '파워트레인': '내연기관'},
    'Ram 1500/Heavy Duty': {'차량 구분': '픽업', '브랜드': 'Ram', '파워트레인': '내연기관'},
    'Honda CR-V': {'차량 구분': 'SUV', '브랜드': 'Honda', '파워트레인': '하이브리드'},
    'Volkswagen Golf': {'차량 구분': '해치백', '브랜드': 'Volkswagen', '파워트레인': '내연기관'},
    'Tata Punch': {'차량 구분': 'SUV', '브랜드': 'Tata', '파워트레인': '내연기관'},
    'Maruti Suzuki Ertiga': {'차량 구분': 'MPV', '브랜드': 'Maruti Suzuki', '파워트레인': '내연기관'},
    'Maruti Suzuki Brezza': {'차량 구분': 'SUV', '브랜드': 'Maruti Suzuki', '파워트레인': '내연기관'},
    'Hyundai Creta': {'차량 구분': 'SUV', '브랜드': 'Hyundai', '파워트레인': '하이브리드'},
    'Kia K3': {'차량 구분': '세단', '브랜드': 'Kia', '파워트레인': '내연기관'},
    'Volkswagen Virtus': {'차량 구분': '세단', '브랜드': 'Volkswagen', '파워트레인': '내연기관'},
    'Toyota Land Cruiser': {'차량 구분': 'SUV', '브랜드': 'Toyota', '파워트레인': '내연기관'},
    'Tesla Model 3': {'차량 구분': '세단', '브랜드': 'Tesla', '파워트레인': '전기차'},
    'Chevrolet Silverado 1500': {'차량 구분': '픽업', '브랜드': 'Chevrolet', '파워트레인': '내연기관'},
    'Suzuki Swift': {'차량 구분': '해치백', '브랜드': 'Suzuki', '파워트레인': '내연기관'},
    'Dacia Duster': {'차량 구분': 'SUV', '브랜드': 'Dacia', '파워트레인': '내연기관'},
    'Toyota Yaris': {'차량 구분': '해치백', '브랜드': 'Toyota', '파워트레인': '내연기관'},
    'Jeep Renegade': {'차량 구분': 'SUV', '브랜드': 'Jeep', '파워트레인': '내연기관'},
    'MG5': {'차량 구분': '세단', '브랜드': 'MG', '파워트레인': '하이브리드'},
    'Toyota Corolla': {'차량 구분': '세단', '브랜드': 'Toyota', '파워트레인': '내연기관'},
    'BYD Song PLUS DM': {'차량 구분': 'SUV', '브랜드': 'BYD', '파워트레인': '하이브리드'},
    'Changan CS75': {'차량 구분': 'SUV', '브랜드': 'Changan', '파워트레인': '하이브리드'},
    'Geely Xingyue L': {'차량 구분': 'SUV', '브랜드': 'Geely', '파워트레인': '하이브리드'},
    'Geely Xingyuan': {'차량 구분': 'SUV', '브랜드': 'Geely', '파워트레인': '하이브리드'},
    'Chevrolet Equinox': {'차량 구분': 'SUV', '브랜드': 'Chevrolet', '파워트레인': '하이브리드'},
    'Nissan Kicks': {'차량 구분': 'SUV', '브랜드': 'Nissan', '파워트레인': '하이브리드'}
}

In [16]:
# 데이터프레임에 차량 정보를 매핑하여 열 추가
df['차량 구분'] = df['모델명'].map(
    lambda x: vehicle_info[x]['차량 구분'] if x in vehicle_info else '정보 없음'
)
df['브랜드'] = df['모델명'].map(
    lambda x: vehicle_info[x]['브랜드'] if x in vehicle_info else '정보 없음'
)
df['파워트레인'] = df['모델명'].map(
    lambda x: vehicle_info[x]['파워트레인'] if x in vehicle_info else '정보 없음'
)

In [17]:
df

       연도          국가명                   모델명    판매량 차량 구분         브랜드  파워트레인
0    2023       Africa          Toyota Hilux  37382    픽업      Toyota   내연기관
1    2023       Africa           Ford Ranger  24618    픽업        Ford   내연기관
2    2023       Africa  Volkswagen Polo Vivo  23904   컴팩트  Volkswagen   내연기관
3    2023       Africa  Toyota Corolla Cross  22592   SUV      Toyota  하이브리드
4    2023       Africa           Isuzu D-Max  18963    픽업       Isuzu   내연기관
..    ...          ...                   ...    ...   ...         ...    ...
155  2025  Middle East         Nissan Patrol  22400   SUV      Nissan   내연기관
156  2025  Middle East          Nissan Sunny  21900    세단      Nissan   내연기관
157  2025  Middle East          Toyota Hilux  19915    픽업      Toyota   내연기관
158  2025  Middle East   Toyota Land Cruiser  12530   SUV      Toyota   내연기관
159  2025  Middle East         Tesla Model 3   6500    세단       Tesla    전기차

[160 rows x 7 columns]

In [18]:
df.to_csv("수출 주요 국가 차량 판매량 순위_정리 완료2.csv", index=False)