In [21]:
import pandas as pd

In [22]:
df=pd.read_csv('data/기아_지역별수출실적_전처리.csv')

In [23]:
df

,Unnamed: 0,차량 구분,국가명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,0,승용차,북미-미국,1048,633,627,245,0,0,2,0,0,4,0,5,2023
1,1,휴양용 차량,북미-미국,33056,29697,31985,29103,28763,26013,27234,22619,20969,24759,33951,30920,2023
2,2,상업용 차량,북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
3,3,특수 차량,북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
4,4,CKD(모듈형 조립 방식),북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,185,휴양용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
186,186,상업용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
187,187,특수 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
188,188,CKD(특수 차량 제외),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
189,189,CKD(특수 차량),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025

In [24]:
df['국가명'].unique()

array(['북미-미국', '북미-캐나다', '북미-멕시코', '서유럽', '동유럽', '중남미', '중동·아프리카', '아시아',
       '기타'], dtype=object)

In [25]:
df2=pd.read_csv('data/현대_시장구분별_수출실적.csv')

In [26]:
df2['국가'].unique()

array(['기타', '동유럽', '북미-멕시코', '북미-미국', '북미-캐나다', '서유럽', '아시아-기타', '중남미',
       '중동·아프리카'], dtype=object)

In [27]:
# 영어 → 한글 매핑 딕셔너리
country_mapping = {
    'US': '북미-미국',
    'Canada': '북미-캐나다',
    'Mexico': '북미-멕시코',
    'EU+EFTA': '서유럽',
    'E.Europe/CIS': '동유럽',
    'Latin America': '중남미',
    'Middle East/Africa': '중동·아프리카',
    'Asia / Pacific': '아시아',
    'China': '아시아',
    'India': '기타'
}

# 매핑 적용
df['국가명'] = df['국가명'].map(country_mapping)

In [ ]:
df['국가명']

,차량 구분,국가명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,승용차,북미-미국,1048,633,627,245,0,0,2,0,0,4,0,5,2023
1,휴양용 차량,북미-미국,33056,29697,31985,29103,28763,26013,27234,22619,20969,24759,33951,30920,2023
2,상업용 차량,북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
3,특수 차량,북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
4,CKD(모듈형 조립 방식),북미-미국,0,0,0,0,0,0,0,0,0,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,휴양용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
186,상업용 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
187,특수 차량,아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
188,CKD(특수 차량 제외),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025
189,CKD(특수 차량),아시아,0,0,0,0,0,0,0,0,0,0,0,0,2025

In [20]:
df.to_csv('data/기아_지역별수출실적_전처리.csv')