In [1]:
import pandas as pd

In [4]:
pd.read_csv('../data/기아 연도별 분리/2023년_지역별수출실적.CSV')

,Car,Region,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Passenger Car,US,1048.0,633.0,627.0,245.0,0.0,0.0,2.0,0.0,0.0,4.0,0.0,5.0
1,Recreational Vehicle,US,33056.0,29697.0,31985.0,29103.0,28763.0,26013.0,27234.0,22619.0,20969.0,24759.0,33951.0,30920.0
2,Commercial Vehicle,US,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
3,Special Vehicle,US,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN
4,"CKD(Inc, Special Vehicle)",US,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,US,34104.0,30330.0,32612.0,29348.0,28763.0,26013.0,27236.0,22619.0,20969.0,24763.0,33951.0,30925.0
6,Passenger Car,Canada,94.0,173.0,28.0,229.0,48.0,41.0,40.0,27.0,48.0,5.0,43.0,57.0
7,Recreational Vehicle,Canada,5864.0,6644.0,5677.0,5587.0,5508.0,5018.0,5029.0,4164.0,4612.0,4547.0,6225.0,5272.0
8,Commercial Vehicle,Canada,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
9,Special Vehicle,Canada,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
10,"CKD(Inc, Special Vehicle)",Canada,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Total,Canada,5958.0,6817.0,5705.0,5816.0,5556.0,5059.0,5069.0,4191.0,4660.0,4552.0,6268.0,5329.0
12,Passenger Car,Mexico,86.0,139.0,66.0,139.0,81.0,67.0,81.0,39.0,14.0,15.0,59.0,54.0
13,Recreational Vehicle,Mexico,562.0,2352.0,2054.0,1903.0,1784.0,1552.0,1168.0,550.0,653.0,652.0,135.0,641.0
14,Commercial Vehicle,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
15,Special Vehicle,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
16,"CKD(Inc, Special Vehicle)",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Total,Mexico,648.0,2491.0,2120.0,2042.0,1865.0,1619.0,1249.0,589.0,667.0,667.0,194.0,695.0
18,Passenger Car,EU+EFTA,10216.0,12757.0,12724.0,10645.0,10709.0,6177.0,4059.0,2198.0,2440.0,3359.0,4704.0,4046.0
19,Recreational Vehicle,EU+EFTA,16877.0,17006.0,20839.0,19225.0,20680.0,17405.0,19509.0,16418.0,16273.0,13995.0,21299.0,18794.0
20,Commercial Vehicle,EU+EFTA,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
21,Special Vehicle,EU+EFTA,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
22,"CKD(Inc, Special Vehicle)",EU+EFTA,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Total,EU+EFTA,27093.0,29763.0,33563.0,29870.0,31389.0,23582.0,23568.0,18616.0,18713.0,17354.0,26003.0,22840.0
24,Passenger Car,E.Europe/CIS,1224.0,1207.0,1390.0,1500.0,1218.0,895.0,1381.0,1466.0,829.0,1603.0,1268.0,439.0
25,Recreational Vehicle,E.Europe/CIS,2032.0,2222.0,2950.0,3320.0,3331.0,2935.0,2386.0,2398.0,2901.0,3055.0,4002.0,2596.0
26,Commercial Vehicle,E.Europe/CIS,158.0,117.0,157.0,259.0,226.0,149.0,469.0,214.0,566.0,537.0,77.0,300.0
27,Special Vehicle,E.Europe/CIS,60.0,0.0,0.0,30.0,90.0,228.0,186.0,180.0,180.0,186.0,90.0,70.0
28,"CKD(Inc, Special Vehicle)",E.Europe/CIS,840.0,1320.0,880.0,1040.0,1120.0,800.0,840.0,1200.0,1000.0,840.0,480.0,640.0
29,Total,E.Europe/CIS,4314.0,4866.0,5377.0,6149.0,5985.0,5007.0,5262.0,5458.0,5476.0,6221.0,5917.0,4045.0
30,Passenger Car,Latin America,1688.0,1859.0,2189.0,2016.0,2381.0,2272.0,2142.0,1898.0,2184.0,1688.0,1602.0,1539.0
31,Recreational Vehicle,Latin America,1248.0,1298.0,2120.0,1859.0,1960.0,2156.0,2236.0,1660.0,1943.0,2162.0,3429.0,2743.0
32,Commercial Vehicle,Latin America,764.0,1048.0,995.0,874.0,1111.0,1193.0,1128.0,554.0,1377.0,1058.0,1259.0,1022.0
33,Special Vehicle,Latin America,50.0,0.0,21.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,13.0,2.0
34,"CKD(Inc, Special Vehicle)",Latin America,360.0,420.0,540.0,540.0,420.0,660.0,780.0,720.0,600.0,720.0,480.0,720.0
35,Total,Latin America,4110.0,4625.0,5865.0,5289.0,5872.0,6282.0,6286.0,4832.0,6104.0,5628.0,6783.0,6026.0
36,Passenger Car,Middle East/Africa,4640.0,5516.0,6630.0,4975.0,4351.0,3659.0,2916.0,3204.0,2570.0,3037.0,3045.0,2769.0
37,Recreational Vehicle,Middle East/Africa,3959.0,3563.0,3317.0,3817.0,4512.0,3752.0,2486.0,3449.0,1391.0,2298.0,2543.0,1811.0
38,Commercial Vehicle,Middle East/Africa,1733.0,1521.0,1553.0,1458.0,1137.0,940.0,2071.0,1327.0,1589.0,1342.0,1674.0,1884.0
39,Special Vehicle,Middle East/Africa,1.0,4.0,5.0,100.0,110.0,50.0,0.0,0.0,4.0,0.0,52.0,4.0
40,"CKD(Inc, Special Vehicle)",Middle East/Africa,0.0,120.0,120.0,80.0,200.0,440.0,930.0,1040.0,1120.0,971.0,441.0,920.0
41,Total,Middle East/Africa,10333.0,10724.0,11625.0,10430.0,10310.0,8841.0,8403.0,9020.0,6674.0,7648.0,7755.0,7388.0
42,Passenger Car,Asia / Pacific,2206.0,1781.0,2515.0,1869.0,2042.0,2144.0,1290.0,1424.0,1607.0,1504.0,1627.0,1724.0
43,Recreational Vehicle,Asia / Pacific,6120.0,5117.0,7258.0,6037.0,6697.0,8711.0,7468.0,7819.0,6327.0,6287.0,7771.0,8213.0
44,Commercial Vehicle,Asia / Pacific,359.0,448.0,298.0,328.0,301.0,353.0,319.0,342.0,104.0,73.0,87.0,79.0
45,Special Vehicle,Asia / Pacific,30.0,32.0,10.0,5.0,17.0,28.0,6.0,0.0,29.0,0.0,2.0,35.0
46,"CKD(Inc, Special Vehicle)",Asia / Pacific,3384.0,4184.0,3464.0,2536.0,2072.0,2456.0,1920.0,2760.0,2884.0,3324.0,2348.0,4136.0
47,Total,Asia / Pacific,12099.0,11562.0,13545.0,10775.0,11129.0,13692.0,11003.0,12345.0,10951.0,11188.0,11835.0,14187.0
48,Passenger Car,China,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN
49,Recreational Vehicle,China,0.0,0.0,0.0,0.0,NaN,129.0,96.0,63.0,1.0,NaN,6.0,NaN
50,Commercial Vehicle,China,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN
51,Special Vehicle,China,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN
52,"CKD(Inc, Special Vehicle)",China,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Total,China,0.0,0.0,0.0,0.0,0.0,129.0,96.0,63.0,1.0,0.0,6.0,0.0
54,Passenger Car,India,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
55,Recreational Vehicle,India,0.0,152.0,298.0,199.0,199.0,102.0,NaN,NaN,NaN,NaN,NaN,NaN
56,Commercial Vehicle,India,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
57,Special Vehicle,India,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
58,"CKD(Inc, Special Vehicle)",India,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Total,India,0.0,152.0,298.0,199.0,199.0,102.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df=pd.read_csv('../data/기아 통합본/지역별수출실적_전처리.CSV')

In [7]:
df.head()

,차량 구분,국가명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연도
0,승용차,US,1048.0,633.0,627.0,245.0,0.0,0.0,2.0,0.0,0.0,4.0,0.0,5.0,2023
1,휴양용 차량,US,33056.0,29697.0,31985.0,29103.0,28763.0,26013.0,27234.0,22619.0,20969.0,24759.0,33951.0,30920.0,2023
2,상업용 차량,US,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,2023
3,특수 차량,US,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0,2023
4,CKD(모듈형 조립 방식),US,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,2023

In [8]:
df['차량 구분'].unique()

array(['승용차', '휴양용 차량', '상업용 차량', '특수 차량', 'CKD(모듈형 조립 방식)', '총합',
       'CKD(특수 차량 제외)', 'CKD(특수 차량)'], dtype=object)

In [9]:
df['국가명'].unique()

array(['US', 'Canada', 'Mexico', 'EU+EFTA', 'E.Europe/CIS',
       'Latin America', 'Middle East/Africa', 'Asia / Pacific', 'China',
       'India'], dtype=object)